*{ padding: 5px;
    margin: 30px;
    max-width: none;
    margin-top: 50px;
    display: flex;
}
canvas { background-color: #2bff00;
    background-image:url('hi.gif');
    border-radius: 0px;
    background-repeat: no-repeat;
    background-size: 110%;
}